<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Otika - Admin Dashboard Template</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/dashboard/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/dashboard/assets/css/style.css">
    <link rel="stylesheet" href="~/dashboard/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/dashboard/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/dashboard/assets/img/favicon.ico' />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <!-- General JS Scripts -->
    <script src="~/dashboard/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="~/dashboard/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/dashboard/assets/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="~/dashboard/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/dashboard/assets/js/custom.js"></script>
</body>
</html>
